* { box-sizing: border-box; }
body {
  font-family: 'Merriweather', serif;
}

li {
  list-style-type: none;
}
header nav li {
  float: left;
  position: relative;
  right: .75rem;
  background-color: #4A3269;
  width: 33%;
  padding: 2rem;
  text-align: center;
  font-size: 2em;
  color: black;
}
h1 {
  text-align: center;
  font-size: 4em;
  color: #846D22;
  padding: 2rem;
  font-weight: bolder;
}

article {
  height: 50rem;
  margin: 3rem;
}
h2 {
  clear: both;
  text-align: center;
  color: #846D22;
  font-size: 3em;
  padding: 2rem;
  margin: 0;
  font-weight: 100;
}
h3 {
  color: #846D22;
  font-size: 2em;
  padding: 2rem;
  font-weight:100;
}
 footer p {
  color: #846D22;
  font-size: 1.5em;
}
footer {
  clear: both;
  text-align: center;
  padding: 2rem;
  margin: 0;
}
.intro {
  color: #846D22;
  font-size: 3em;
}
.main {
  float: right;
  background-color: #C5B4CC;
  width: 75%;
  min-height: 100%;
  padding: 2rem;
  margin: 0;
}
.side {
  float: left;
  width: 25%;
  min-height: 100%;
  padding: 2rem;
  margin: 0;
  background-color: #FFF8D0;
}