* { box-sizing: border-box; }

li {
  list-style-type: none;
}
  header nav li {
  float: left;
  background-color: #6C21CC;
  width: 33%;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  }

  h1 {
    text-align: center;
    font-size: 4em;
    color: #846D22;
    padding: 2rem;
  }

article {
  height: 50rem;
  margin: 3rem;
}
  h2 {
    clear: both;
    text-align: center;
    font-family: serif;
    color: #846D22;
    font-size: 3em;
    padding: 2rem;
    margin: 0;
  }
h3 {
  color: #846D22;
  font-size: 2em;
  padding: 2rem;
}
 footer p {
    color: #846D22;
    font-size: 1em;
  }
.intro {
  color: #846D22;
  font-family: serif;
  font-size: 3em;
}
.main {
  float: right;
  width: 75%;
  min-height: 100%;
  padding: 2rem;
  margin: 0;
  background-color: #FFBD3A;
}
.side {
  float: left;
  width: 25%;
  min-height: 100%;
  padding: 2rem;
  background-color: #C49BFF;
  margin: 0;
}