* { box-sizing: border-box; }

li {
  list-style-type: none;
}
  header nav li {
  float: left;
  background-color: #6C21CC;
  border-left: 4px solid #C041FF;
  margin: 4 0 3 0;
  width: 33%;
  padding: 2rem;
  text-align: center;
}
  h1 {
    text-align: center;
    font-size: 4em;
    color:burlywood;
    padding: 2rem;
    margin: 0;
  }
  h2 {
    clear: both;
    text-align: center;
    font-family: serif;
    color:burlywood;
    font-size: 3em;
    padding: 2rem;
    margin: 0;
  }
  p {
    text-align: left;
    font-size: 1em;
  }
  a {
    font-size: 2em;
    font-style:normal;
    color: cadetblue;
  }
  article p {
    font-family: serif;
    font-size: 2em;
  }
  footer a {
    color: burlywood;
    font-size: 1em;
  }
  footer p {
    color: black;
    font-family:serif;
    font-size: 2em;
  }
.intro {
  color: cadetblue;
  font-family: serif;
  font-size: 2em;
}
.highlight {
  color: blue;
  font-size: 2em;
}
h3::first-letter {
  font-size: 4em;
}
ul {
  list-style-type: disc;
}